@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&display=swap');

body * {
    font-family: "Edu TAS Beginner", cursive;
}

body {
    display: flex;
    width: 100vw;
    background-image: url('backgroung.jpg');
    background: cover no-repeat;
    backdrop-filter: blur(3px);
    height: 90vh;
    align-items: center;
    justify-content: center;
}


.main{
    background-color: rgba(0,100,255,0.35);
    border-radius: 80px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.35);
    margin: auto;
    backdrop-filter: blur(40px);
    height: 80%;
    width: 30%;
    align-items: center;
    justify-content: center;
}
.img-div {
    margin: auto;
    width: 35%;
    border: 1px solid rgba(0,150,230,0.8);
    display: flex;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.35);
    border-radius: 60px;
    align-items: center;
    justify-content: center;
}

.nome{

    text-shadow: 3px 3px 10px rgba(0,0,0,6);
    color: red;
    font-weight: 900;
    text-shadow: 3px 3px 10px rgba(0,0,0,0.4);
    text-align: center;
}

.twitch{
    width: 70%;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 15px 0px 15px 0px;
    text-align: center;
}
.instagram{
    margin: auto;
    justify-content: center;
    width: 70%;
    align-items: center;
    padding: 15px 0px 15px 0px;
    text-align: center;
}
.twitter{
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 70%;
    align-items: center;
    padding: 15px 0px 15px 0px;
    text-align: center;
}


.twitch > button{
    text-shadow: 3px 3px 10px rgba(0,0,0,0.6);
    color: red;
    font-weight: 900;
    width: 60%;
    background-color: rgba(130,0,200,0.35);
    backdrop-filter: blur(30px);
    border-radius: 15px;
    padding: 0px 15px 0px 15px;
}
.twitter > button{
    text-shadow: 3px 3px 10px rgba(0,0,0,0.6);
    color: red;
    font-weight: 900;
    width: 60%;
    background-color: rgba(130,0,200,0.35);
    backdrop-filter: blur(30px);
    border-radius: 15px;
    padding:0px 12px 0px 12px;
}
.instagram > button{
    text-shadow: 3px 3px 10px rgba(0,0,0,3.5);
    color: red;
    font-weight: 900;
    width: 60%;
    background-color: rgba(130,0,200,0.35);
    backdrop-filter: blur(30px);
    border-radius: 15px;
    /* padding: 0px 15px 0px 15px; */
}



.img{
    box-shadow: 4px 4px 10px rgba(0,0,0,0.35);
    border-radius: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


body > button::hover{
    cursor: pointer;
}